<div class="jumbotron center">
     <h1>Welcome to NeuLynx!</h1>
     <% if user_signed_in? %>
          # do something
     <% else %>
       <p>
       	 <%= link_to 'Sign in with twitter', signin_path %>
		
         
       </p>
  <% end %>  
</div>